.landing {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 78dvh;
}

.landing-image {
	background-image: url('/imgs/piano-med.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing-text-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-text {
	font-size: 4rem;
}

.landing-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* background-color: var(--section-color-1); */
	text-align: center;
	user-select: none;
	background-position: 25% 25%;
	transform: scaleY(100px);
	color: white;
	font-size: 3rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.fade-in {
	animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(-5%);
	}

	100% {
		opacity: 1;
	}
}

/* .bottom-text {
	margin-top: auto;
} */

.landing-background {
	height: 100%;
	width: 100%;
	background-color: var(--section-color-1);
}
@media (min-width: 640px) {
	.landing-text {
		font-size: 4rem;
	}
	.big-text {
		font-size: 6rem;
	}
}
@media (min-width: 768px) {
	.landing-text {
		font-size: 4.5rem;
	}
	.big-text {
		font-size: 5.5rem;
	}
}
@media (min-width: 1024px) {
	.landing-text {
		font-size: 5rem;
	}
	.landing {
		height: 85dvh;
	}
	.big-text {
		font-size: 6rem;
	}
}
@media (min-width: 1280px) {
	.landing-text {
		font-size: 6rem;
	}

	.big-text {
		font-size: 7rem;
	}
}
@media (min-width: 1536px) {
	.landing-text {
		font-size: 7rem;
	}

	.big-text {
		font-size: 8rem;
	}
}
