.landing {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 78dvh;
}

.landing-image {
	background-image: url('/imgs/piano-med.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing-text-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-text {
	font-size: 4rem;
}

h3.big-text {
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.landing-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* background-color: var(--section-color-1); */
	text-align: center;
	user-select: none;
	background-position: 25% 25%;
	transform: scaleY(100px);
	color: white;
	font-size: 3rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.fade-in {
	animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(-5%);
	}

	100% {
		opacity: 1;
	}
}

/* .bottom-text {
	margin-top: auto;
} */

.project-overview-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 4rem;
}

.forward {
	z-index: 10000;
	position: relative;
}

.project-overview-container > div {
	width: 70dvw;
}

.project-overview-container > img {
	width: 40dvw;
	height: 30dvw;
	transform: translateY(-125px);
	display: none;
}

.overview-text {
	font-size: x-large;
}

.milestone-container {
	display: flex;
	flex-direction: column;
	gap: 5dvw;
}

.embed {
	width: 75dvw;
	aspect-ratio: 16/9;
	background-color: var(--section-color-1);
}

.download-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.download-title {
	font-size: larger;
}

.download.button {
	background-color: var(--section-color-1);
}

.download.button:hover {
	background-color: var(--nav-hover);
}

.landing-background {
	height: 100%;
	width: 100%;
	background-color: var(--section-color-1);
}
@media (min-width: 640px) {
	.landing-text {
		font-size: 4rem;
	}
	.big-text {
		font-size: 6rem;
	}
}
@media (min-width: 768px) {
	.landing-text {
		font-size: 4.5rem;
	}
	.big-text {
		font-size: 5.5rem;
	}
}
@media (min-width: 1024px) {
	.landing-text {
		font-size: 5rem;
	}
	.landing {
		height: 85dvh;
	}
	.big-text {
		font-size: 6rem;
	}

	.project-overview-container > div {
		width: 40dvw;
	}

	.project-overview-container > img {
		display: block;
	}

	.embed {
		width: 50dvw;
	}

	.milestone-container {
		flex-direction: row;
		justify-content: center;
	}
}
@media (min-width: 1280px) {
	.landing-text {
		font-size: 6rem;
	}

	.big-text {
		font-size: 7rem;
	}
}
@media (min-width: 1536px) {
	.landing-text {
		font-size: 7rem;
	}

	.big-text {
		font-size: 8rem;
	}

	.project-overview-container > img {
		display: block;
		transform: translateY(-200px);
	}
}

.milestone-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.milestone-button {
	border: none;
	font-size: xx-large;
	transition: all;
	background-color: inherit;
}

.milestone-button:hover {
	cursor: pointer;
}

.un::after {
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	background: black;
	transition: 300ms;
}

.un:hover::after {
	width: 100%;
}

.selected::after {
	content: '';
	width: 100%;
	height: 3px;
	display: block;
	background: black;
}
