@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

:root {
	font-family: 'Inclusive Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	--section-color-1: #f7f7f7;
	--section-color-2: #dedede;
	--nav-hover: #b3b3b3;
	scroll-behavior: smooth;
	-webkit-backface-visibility: hidden;
}

body,
h1 {
	margin: 0;
	padding: 0;
}

.body {
	display: flex;
	flex-direction: column;
	background-color: var(--section-color-1);
}

.nav-button {
	padding: 1rem;
	border-radius: 10px;
	transition: 100ms all ease-in-out;
	font-size: x-large;
}

.nav-button:hover {
	background-color: var(--nav-hover);
	box-shadow: 0 5px 14px -7px rgba(0, 0, 0, 0.75);
}

a.nav-button:link {
	text-decoration: inherit;
	color: inherit;
}

a.nav-button:visited {
	text-decoration: inherit;
	color: inherit;
}

.color-1 {
	background-color: var(--section-color-1);
}

.color-2 {
	background-color: var(--section-color-2);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--section-color-1);
	box-shadow: 0 6px 14px -21px black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	gap: 1rem;
}

.heading {
	text-align: center;
}

.header-spacer {
}

.nav {
	display: flex;
	gap: 4rem;
	justify-content: center;
}

.center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	width: 100%;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 2rem;
	height: 1000px;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
	.header {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}

	.header-spacer {
		width: 360px;
	}

	.nav {
		width: 360px;
	}

	.heading {
		/* margin-left: auto; */
		/* margin-right: auto; */
		width: 360px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
